@import '../variables.scss';

.edit{
    @include modalStyles();
    
    &_wrapper{
        @include modalWrapperStyles();

        h3{
            color: $app-main-color;
            text-align: center;
            font-size: 25px;
            margin: 0;
        }

        div{
            margin-top: 20px;

            textarea,
            input{
                @include modalInputStyles()
            }

            textarea{
                height: 150px;
                padding: 20px;
            }

            button{
                @include modalButtonStyles()
            }
        }
    }
}